body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #fce4ec, #e3f2fd);
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  width: 1200px; 
  max-width: 95%;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
}

h1 {
  color: #ff6f91;
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 60%;
  outline: none;
}

input:focus {
  border-color: #ff6f91;
}

.input-section button {
  background: #ff6f91;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}


table {
  width: 100%;
  border-collapse: collapse;
}


th {
  background: #ffd6e0;
  padding: 10px;
}


td {
  padding: 10px;
  border-bottom: 1px solid #eee;
}


.present {
  color: #2ecc71;
  font-weight: bold;
}

.absent {
  color: #e74c3c;
  font-weight: bold;
}


button {
  border: none;
  padding: 6px 10px;
  margin: 3px;
  border-radius: 6px;
  cursor: pointer;
}


.present-btn {
  background: #2ecc71;
  color: white;
}


.absent-btn {
  background: #f39c12;
  color: white;
}


.delete-btn {
  background: #e74c3c;
  color: white;
}


tr:hover {
  background: #f9f9f9;
}
